@font-face {
    font-family: "AlimamaAgileVF-Thin";
    src: url(../font/AlimamaAgileVF-Thin/AlimamaAgileVF-Thin.woff2);
}

@font-face {
    font-family: "AlimamaDaoLiTi";
    src: url(../font/AlimamaDaoLiTi/AlimamaDaoLiTi.woff2);
}